.idea/
.vscode/
.mypy_cache
__pycache__/
*.pyc
.DS_Store

output/
.caches
data2
output2
notebook
.ipynb_checkpoints
.ipynb
venv
app/bg1_gen/font/
app_en_gen/font/
text_renderer.egg-info/
workspace
workspace2